# Plantilla de variables de entorno para Yapcity
NEXT_PUBLIC_SUPABASE_URL=https://rvowmjsxuqjbflybkfpq.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=tu_clave_aqui
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu_clave_aqui
